<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
</head>
<body>
    <h1>About Me</h1>
    <!-- Resized Image -->
    <img src="images/nathan.jpg" alt="Nathan's Image" width="300" />
    
    <div id="me">
        <h2>Goals</h2>
        <!-- Goals content here -->

        <h2>Educatioadfhlakjsfkljalfkn</h2>
        <!-- Education content here -->

        <h2>Experience</h2>
        <!-- Experience content here -->
    </div>
</body>
</html>
